go 1.24.4

use (
	./01-hello-go
	./02-variables
	./03-type-inference
	./04-loops-basic
	./05-arrays
	./06-slices
	./07-functions
	./08-package-structure
	./09-struct
	./10-interfaces
	./11-error-handling
	./12-specific-error-handling
)
